<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="modules" type="Prism.Modularity.ModulesConfigurationSection, Prism.Wpf" />
  </configSections>
  <modules>
    <module assemblyFile="MyCompositeApp.Log.dll" moduleType="Log.LogModule" moduleName="LogModule" startupLoaded="true" />
  </modules>
</configuration>